.searchPage{
    font-size: large;
    position: absolute;
    width: 100%;
}
.searchBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}
a{
    color:black;
    text-decoration: none;
}
.input{
    height:40px;
    width:80%;
    border: solid 2px rgb(186, 184, 184);
    border-radius: 10px;
}
input::placeholder{
    font-size: larger;
}